<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Minha Pagina</title>
</head>
<body>
    <div class="header">
    <h1>Minha Pagina</h1>
    <p>Pagina criada por min</p>
    </div>

    <div class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#" class="direita">Link</a>
    </div>


    <div class="row">
        <div class="side">
            <h2>Sobre min</h2>
            <h5>Minha Foto</h5>
            <div class="fakeimg" style="height: 200px;">Minha Foto</div>
            <p>Escrever algum texto sobre minha vida</p>
            <h3>Mais algum texto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="fakeimg" style="height:40px;">Imagem</div> <br>
            <div class="fakeimg" style="height:40px;">Imagem</div> <br>
            <div class="fakeimg" style="height:40px;">Imagem</div>
        </div>
        <div class="main">
            <h2>titulo do texto</h2>
            <h5>Titulo da descricao, 04 de outubro</h5>
            <div class="fakeimg" style="height: 200px ;"></div>
            <p>Algum Texto</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sequi alias nobis excepturi non assumenda dolores enim libero molestias minima?</p>
            <br>
            <h2>titulo do texto</h2>
            <h5>Titulo da descricao, 04 de outubro</h5>
            <div class="fakeimg" style="height: 200px ;"></div>
            <p>Algum Texto</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sequi alias nobis excepturi non assumenda dolores enim libero molestias minima?</p>
            <br>
            <h2>titulo do texto</h2>
            <h5>Titulo da descricao, 04 de outubro</h5>
            <div class="fakeimg" style="height: 200px ;"></div>
            <p>Algum Texto</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sequi alias nobis excepturi non assumenda dolores enim libero molestias minima?</p>
        </div>
        <div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="footer">
        <h2>Rodape</h2>
    </div>

</body>
</html>