.txt-clas h2 {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.txt-clas tr th {
    font-size: 15px;
    font-weight: initial;
    color: rgb(red, green, blue);
    text-align: center;
    padding-bottom: 5px;
    width: 50px;
}
.txt-clas tr td {
    text-align: center;
    font-size:  17px;
    font-weight: 100;
    padding: 12px 0px;
}
.ponto {
    padding-left: 50px;
}
.ponto td {
    border-top: 2px solid #eeeeee;
}
.banner {
    width: 600px;
    text-align: left!important;
}
.banner img{
    width: 50px;
    vertical-align: -5px;
    padding-right: 10px;
    padding-left: 15px;
}
/* footer */

.footer {
    width: 820px;
    border:2px solid #eeeeee;
    border-radius:  15px;
    background-color: #f7f7f7;
    margin:25px 20px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.footer img {
    width:13px;
    vertical-align: -3px;
    margin-right: 8px;
}
.footer sapn {
    width: 12px;
    height: 12px;
    background-color: rgb(77, 77, 255);
    display: inline-block;
    margin-right:  10px;
}
.footer article {
    font-size: 15px;
    width: 450px;
    margin: 0px;
    margin-bottom: 8px;
}
.footer article p {
    font-size: 13px;
    width:450px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 8px;
}
