.noticia {
    display: inline-block;
    width: 820px;
    border:1px solid #cccccc;
    border-radius: 10px;
    border-color: #ffffff;
    margin-top: 20px;
}
.noticia h2 {
    font-size: 15px;
    width: 550px;
    display: inline-block;
    padding: 10px 0px 10px 20px;
    color: blue;
}
.noticia h2:hover {
    text-decoration: underline;
}
.noticia h2:visited {
    color: #9356a5;
}
.noticia p {
    font-size: 13px;
    color: gray;
    display: inline-block;
    padding: 0px 0px 10px 15px;
}
.noticia img{
    margin:  15px;
    border-radius: 3px;
    width: 180px;
    float: right;
}